In [1]:
import numpy as np
import pandas as pd

In [2]:

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('train.csv')[['Age', 'Fare', 'SibSp', 'Parch', 'Survived']]

In [4]:
df.isnull().sum()

Age         177
Fare          0
SibSp         0
Parch         0
Survived      0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.sample(5)

      Age   Fare  SibSp  Parch  Survived
348   3.0  15.90      1      1         1
333  16.0  18.00      2      0         0
619  26.0  10.50      0      0         0
811  39.0  24.15      0      0         0
412  33.0  90.00      1      0         1

In [7]:
df['Family'] = df['SibSp'] + df['Parch']

In [8]:
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [9]:
df.drop(columns = ['SibSp', 'Parch'], inplace=True)

In [10]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [11]:
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [12]:
X.head()

    Age     Fare  Family
0  22.0   7.2500       1
1  38.0  71.2833       1
2  26.0   7.9250       0
3  35.0  53.1000       1
4  35.0   8.0500       0

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [14]:
X_train.head()

      Age     Fare  Family
328  31.0  20.5250       2
73   26.0  14.4542       1
253  30.0  16.1000       1
719  33.0   7.7750       0
666  25.0  13.0000       0

In [15]:
# Without Binarization

clf = DecisionTreeClassifier()

clf.fit(X_train, Y_train)
y_pred = clf.predict(X_test)

accuracy_score(Y_test, y_pred)

0.6433566433566433

In [16]:
np.mean(cross_val_score(DecisionTreeClassifier(), X, Y, cv=10, scoring='accuracy'))

0.6442879499217528

In [17]:
# Applying Binarizer
from sklearn.preprocessing import Binarizer

In [18]:
trf = ColumnTransformer([
    ('bin', Binarizer(copy=False), ['Family'])
], remainder='passthrough')

In [19]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [21]:
pd.DataFrame(X_train_trf, columns=['Family', 'Age', 'Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [22]:
clf = DecisionTreeClassifier()

In [23]:
clf.fit(X_train_trf, Y_train)
y_pred2 = clf.predict(X_test_trf)

accuracy_score(Y_test, y_pred2)

0.5944055944055944

In [24]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(), X_trf, Y, cv=10, scoring='accuracy' ))

0.6276212832550861