# SETS
A set is a unordered collection datatype that is iterateable, mutable and has no duplicate elements.Python's set class represent the mathematical notion of a set. This is based on data structure known as hash table.

In [ ]:
# Demonstrating the use of a set in Python
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {1, 2, 3, 4, 5}
print(set_var)

{1, 2, 3, 4, 5}

In [3]:
set_var = {'Ironman', 'Hulk', 'Thor', 'Captain America'}
print(set_var)

{'Captain America', 'Thor', 'Ironman', 'Hulk'}

In [5]:
#set_var[2] # Uncommenting the line above will raise a TypeError because sets are unordered and do not support subscripting access

In [6]:
for i in set_var: 
    print(i)

Captain America
Thor
Ironman
Hulk

In [10]:
# inbuilt functions in set
set_var.add('Batman')
set_var.add('Superman')
print(set_var)

{'Captain America', 'Thor', 'Hulk', 'Batman', 'Superman', 'Ironman'}

In [11]:
# set sort itself automatically
set_1 = set([3, 43, 53, 23, 2, 55])
print(set_1)

{2, 3, 43, 53, 55, 23}

In [12]:
set_1.add(0)
set_1

{0, 2, 3, 23, 43, 53, 55}

In [15]:
# intersection and intersection_update
set_x = set(['yellow', 'blue', 'green'])
set_y = set(['blue', 'red', 'green'])
#set_x.intersection(set_y)  # Returns a new set with elements common to both sets but will not update set_x
set_x.intersection_update(set_y) # Updates set_x with elements common to both sets
print(set_x)

{'blue', 'green'}

In [18]:
# difference and difference_update
#set_y.difference(set_x) # Returns a new set with elements in set_y but not in set_x
set_y.difference_update(set_x) # Updates set_y with elements in set_y but not in set_x
set_y

{'red'}

In [21]:
# superset and subset
set_y.issuperset(set_x)  # Returns True if set_y contains all elements of set_x
set_x.issuperset(set_y)  # Returns True if set_x is contained within set_y

False