In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [13]:
df = pd.read_csv('train.csv')[['Age', 'Pclass', 'SibSp', 'Parch', 'Survived']]

In [14]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [15]:
df.dropna(inplace=True)

In [16]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [17]:
X.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [19]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.6933333333333332

## Applying Feature Construction

In [20]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [23]:
X.sample(5)

      Age  Pclass  SibSp  Parch  Family_size
254  41.0       3      0      2            3
208  16.0       3      0      0            1
805  31.0       3      0      0            1
488  30.0       3      0      0            1
137  37.0       1      1      0            2

In [24]:
def myfunc(num):
    if num==1:
        # Alone
        return 0
    elif num>1 and num<=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [25]:
myfunc(3)

1

In [26]:
X['Family_type'] = X['Family_size'].apply(myfunc)

In [27]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [28]:
X.drop(columns=['SibSp', 'Parch', 'Family_size'], inplace=True)

In [29]:
X.head()

    Age  Pclass  Family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [30]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.7003174603174602